@import "tailwindcss";

:root {
  --color-primary: #ff5a1f;
  --color-primary-hover: #e94d16;

  --color-secondary: #111827;

  --color-background: #fafafa;
  --color-surface: #ffffff;

  --color-text: #111827;
  --color-text-light: #6b7280;

  --color-border: #ececec;

  --color-success: #16a34a;

  --radius-sm: 10px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 32px;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

/* body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Inter, sans-serif;
} */
